@if (filteredNotes && filteredNotes.length > 0) {
  <nz-list nzGrid>
    <div nz-row>
      @for (item of filteredNotes; track item) {
        <nz-card nz-col nzSpan="6"
                 [nzActions]="[actionOpen, actionEdit, actionDelete]">
          <nz-card-meta
            [nzAvatar]="avatarTemplate"
            [nzTitle]="item.title"
            [nzDescription]="item.content"
          ></nz-card-meta>
        </nz-card>
        <ng-template #avatarTemplate>
          <nz-avatar nzSrc="/assets/images/notes.png" nzShape="square"></nz-avatar>
        </ng-template>
        <ng-template #actionOpen>
          <nz-icon nzType="zoom-in" [routerLink]="['/notes/'+ item._id]" nzTooltipTitle="Показати деталі"
                   nzTooltipPlacement="bottom"
                   nz-tooltip/>
        </ng-template>
        <ng-template #actionEdit>
          <nz-icon nzType="edit" nzTooltipTitle="Редагувати" [routerLink]="['/notes/edit/'+ item._id]"
                   nzTooltipPlacement="bottom" nz-tooltip/>
        </ng-template>
        <ng-template #actionDelete>
          <nz-icon nzType="delete" nzTooltipTitle="Видалити" nzTooltipPlacement="bottom" nz-tooltip
                   nz-popconfirm
                   nzPopconfirmTitle="Ви впевнені, що хочете видалити цю нотатку?"
                   nzPopconfirmPlacement="bottom"
                   nzOkText="Видалити"
                   nzOkType="danger"
                   (nzOnConfirm)="onDelete(item._id)"

          />
        </ng-template>
      }
    </div>
  </nz-list>
} @else {
  <nz-empty class="note-list-empty"
            [nzNotFoundContent]="noteSearchService.isSearchTermExist() ? 'Упс, нотатка не знайдена': 'Додайте свою першу нотатку'"
            [nzNotFoundImage]="noteSearchService.isSearchTermExist() ? 'simple': null"

  ></nz-empty>
}




